/* @font-face {
    font-family: 'Caprasimo';
    src: url('fonts/Caprasimo.woff2') format('woff2'),
             url('fonts/Caprasimo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

h1 {
    font-family: "Caprasimo", sans-serif;
} */